<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_background_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>scene_background_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{769,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{769,555}}</string>
                <key>sourceSize</key>
                <string>{769,555}</string>
            </dict>
            <key>scene_background_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1028},{769,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{769,583}}</string>
                <key>sourceSize</key>
                <string>{769,583}</string>
            </dict>
            <key>scene_build_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{234,892}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,892}}</string>
                <key>sourceSize</key>
                <string>{234,892}</string>
            </dict>
            <key>scene_build_cat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>scene_build_panty_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>scene_building_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1799},{768,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,236}}</string>
                <key>sourceSize</key>
                <string>{768,236}</string>
            </dict>
            <key>scene_building_boom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,773},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,187}}</string>
                <key>sourceSize</key>
                <string>{214,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_background.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82bb529d54a88bd7092681a0f63118a4$</string>
            <key>textureFileName</key>
            <string>scene_background.png</string>
        </dict>
    </dict>
</plist>
