<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>failure-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1582},{245,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,245}</string>
			</dict>
			<key>failure-funnel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,1309},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>failure-funnel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1889},{82,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,109}</string>
			</dict>
			<key>failure-scalpel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1091},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>failure-scalpel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1889},{67,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,93}</string>
			</dict>
			<key>pop up-be defeated.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1583},{678,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{678,462}</string>
			</dict>
			<key>pop up-be defeated-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1582},{303,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,129}</string>
			</dict>
			<key>pop up-be defeated-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,2},{303,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,129}</string>
			</dict>
			<key>pop up-get.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1540},{678,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{678,462}</string>
			</dict>
			<key>pop up-get-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,309},{303,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,129}</string>
			</dict>
			<key>pop up-get-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,616},{303,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,129}</string>
			</dict>
			<key>pop up-gift bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,849}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,849}</string>
			</dict>
			<key>pop up-gift bag-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1374},{545,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{545,123}</string>
			</dict>
			<key>pop up-resurgence.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,855},{640,724}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,724}</string>
			</dict>
			<key>pop up-resurgence-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1374},{288,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,123}</string>
			</dict>
			<key>pop up-resurgence-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,2},{288,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,123}</string>
			</dict>
			<key>pop up-gift bag-esc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,294},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>pop up-sand glass.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{640,724}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,724}</string>
			</dict>
			<key>pop up-scalpel.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,646},{640,724}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,724}</string>
			</dict>
			<key>screening.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1501},{286,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,70}</string>
			</dict>
			<key>failure-xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1575},{3,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,455}</string>
			</dict>
			<key>failure-gl.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1831},{214,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,164}</string>
			</dict>
			<key>failure-jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,923},{214,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,164}</string>
			</dict>
			<key>failure-sl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1091},{214,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,164}</string>
			</dict>
			<key>failure-zc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,1091},{214,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,164}</string>
			</dict>
			<key>failure-sk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,294},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>failure-sk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,348},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>failure-sk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,354},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>failure-sk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,402},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>failure-sk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,408},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>failure-z1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1501},{35,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,214}</string>
			</dict>
			<key>failure-z2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,1501},{35,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,214}</string>
			</dict>
			<key>failure-z3.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,2006},{35,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,214}</string>
			</dict>
			<key>failure-z4.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,2006},{35,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,214}</string>
			</dict>
			<key>failure-z5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,2006},{35,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,214}</string>
			</dict>
			<key>failure-sk0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,456},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>failure-z0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,2006},{35,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,214}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>playGame.png</string>
			<key>realTextureFileName</key>
			<string>playGame.png</string>
			<key>size</key>
			<string>{2045,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>